body{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.outer-box{
	padding: 150px 25%;
	background-size: cover;
	background-attachment: fixed !important;
	background-position: center !important;
	text-align: center;

}
.inner-box{
	/* background: blue; */
	background-color: #ffffffb0;
	padding: 40px;
}
h1{
	font-size: 40px;
}
p{
	font-size: 18px;
	color: #881414b0;
}
.bg-1{
	background: url(../images/class-01.jpg);
}
.bg-2{
	background: url(../images/class-02.jpg);
}
.bg-3{
	background: url(../images/class-03.jpg);
}
.bg-4{
	background: url(../images/class-04.jpg);
}
.bg-5{
	background: url(../images/class-05.jpg);
}
.bg-6{
	background: url(../images/class-06.jpg);
}
.footer{
	padding: 30px 0;
	text-align: center;
}
	body{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.outer-box{
	padding: 150px 25%;
	background-size: cover;
	background-attachment: fixed !important;
	background-position: center !important;
	text-align: center;
}
.inner-box{
	/* background: blue; */
	background-color: #ffffffb0;
	padding: 40px;
}
h1{
	font-size: 40px;
	color: #096964a8;
}
p{
	font-size: 18px;
	color: #881414b0;
}
.bg-6{
	background: url(../images/class-01.jpg);
}
.bg-2{
	background: url(../images/class-02.jpg);
}
.bg-3{
	background: url(../images/class-03.jpg);
}
.bg-4{
	background: url(../images/class-04.jpg);
}
.bg-1{
	background: url(../images/class-05.jpg);
}
.bg-5{
	background: url(../images/class-06.jpg);
}
.footer{
	padding: 40px 0;
	text-align: center;
}
